bytecode==0.16.1
easydict==1.13
einops==0.8.1
gdown==5.2.0
jpeg4py==0.1.4
lmdb==1.5.1
matplotlib==3.8.2
numba==0.61.0
numpy==2.2.4
opencv_python==4.8.1.78
pandas==2.2.3
Pillow==11.1.0
pycocotools==2.0.8
PyYAML==6.0.1
Shapely==2.0.7
six==1.16.0
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
thop==0.1.1.post2209072238
timm==0.4.12
torch==2.1.1+cu118
torchvision==0.16.1+cu118
tqdm==4.66.5
visdom==0.2.4
vot==1
wandb==0.19.8
